.principal{
	background-image: url('../images/wallpaper.jpg');
	background-repeat: no-repeat;
	background-size: 100% absolute;
	background-position: absolute;
}



.z-depth-6 {
  box-shadow: 10 27px 24px 10 rgba(0, 0, 0, 0.2), 10 40px 70px 10 rgba(0, 0, 0, 0.22);
}

.topcs{
  padding-top: 100px;
}
.form-group {
  margin-bottom: 10px;
}

.separator{
	padding-top: 1.2em;
	padding-bottom: 1.2em;
}
.spanTextHelp a{
	margin-top: .2em;
	margin-bottom: .2em;
	text-align: right;
	text-decoration: none;
	color:#6669C5;
	font-size: 1.3em;
	font-weight: bold;
}
.spanTextRegister a{
	margin-top: .2em;
	margin-bottom: .2em;
	text-align: right;
	text-decoration: none;
	font-color:#6669C9;
	font-size: 1.1em;
	font-weight: bold;
}
.titleBox{
  position: center;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 15px;
  outline: 0;
}

.margin-rl{
	padding-left: 240px
}

/* ************* Orientacion del Contenido ********** */
.right{
	align-content: right;
}

.margin-right{ 
	margin-right: 15px;
}
.left{
	align-content: left;
}

.margin-left{
	margin-left: 15px;
}

/* ************************************************ */

/* **************Barra Horizontal **************** */
hr { 
  background-color: #33691e; 
  height: 2px;
  margin-left: 15px;
  margin-right: 15px;
}

/* ************************************************ */

.form{
	align-content: center;
}
/* ******************* BOTONES ******************* */

.textSizeButton{
	font-size: 1.4em;
}
.btn-large {
  display: block;
  width: 100%;
}

/* ************************************************ */

